@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
/*font-family: 'Sawarabi Mincho', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
/* font-family: 'Noto Serif JP', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
/*font-family: 'Noto Sans JP', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Sacramento');
/* font-family: 'Sacramento', cursive; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden; /* スクロールバーを非表示に */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Serif JP', sans-serif;
    background-color: #d8d8d8;
    
}

.flipbook {
    width: 100vw;
    height: 100vh;
    /* background: white; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden; /* ページの内容がはみ出さないように */
}
.cover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #04522d; /* ページ背景色を白に設定 */
    position: relative;
}
.cover ura {
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    font-size: 70px;
    font-family: 'Sacramento', cursive;

}
.guide-text {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 1em;
    color: #666;
    background-color: rgba(255, 255, 255, 0.8); /* 背景色に少し透過を加える */
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* 影で浮かせた感じに */
}
/* 目次スタイル */
#toc {
    /* padding: 1em; */
    background-color: #ececd6;
}

#toc ul {
    list-style-type: none;
    padding: 0% 10%;
}

#toc li {
    margin: 0.5em 0;
}

#toc a {
    
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

#toc a:hover {
    text-decoration: underline;
}

#toc Annotation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50%;
    color:#666
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ececd6; /* ページ背景色を白に設定 */
    position: relative;
    
}

.section {
    font-weight: bold;
    text-align: center;
    background-color: #ccffcc;
    /* padding: 10px 0px; */
    margin-bottom: 20px;
    margin: 20px 0;
    border: 1px solid transparent; /* 見た目の調整用 */
}

.subtitle {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px; /* ミニタイトルのサイズを大きく */
    font-weight: bold;
    margin-bottom: 6px;
}

.section p {
    font-size: 18px; /* 段落のフォントサイズ */
    line-height: 1.2;
}


h2 {
    font-size: 30px;
    margin-bottom: 0.5px;
    color: #000000;
}

h2.title{
    text-align: center;
    height: 70%;
    font-size: 59px;
    color: #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 4000;
}

p {
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 19px;
    color: #000000;
    margin-bottom: 1px;
}

p.name {
    
    text-align: right;
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    top: 74%;
    right: 10%;
    width: 100%;
}

img {
    max-width: 70%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-around; /* 画像の間に均等に余白を設定 */
}

.center-divider {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0.3%; /* 太さを画面幅の2%に設定 */
    height: 100%; /* ページ全体の高さ */
    background-color: #3f3f3f; /* 区切り線の色 */
    z-index: 10; /* 他の要素より前面に表示 */
}


.profile-container {
    width: 90%;
    max-width: 800px;
    background-color: #87c9f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

/* 顔写真と名前 */
.profile-header {
    margin-bottom: 20px;
}

.profile-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #007acc;
    margin-bottom: 10px;
}

header, footer {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #87c9f5;
    color: #fff;
    text-align: center;
    padding: 2%;
  }

/* 履歴と技術のコンテナ */
.profile-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* 履歴と技術の各セクション */
.history, .skills {
    width: 30%;
    text-align: left;
}

.history h2, .skills h2 {
    font-size: 1.2em;
    color: #007acc;
    margin-bottom: 10px;
}

.history ul, .skills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.history li, .skills li {
    color: #000000;
    margin: 5px 0;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    padding: 1em;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }

/* メディアクエリ: 画面が狭い場合の対応 */
@media (max-width: 600px) {
    .profile-info {
        flex-direction: column;
    }
    .history, .skills {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}